<!DOCTYPE HTML>
<html>
  <head>
    Player Votes
  </head>
  <body>
    <form action="/admin" method="POST">
      <p>Admin: <input type="submit" name="action" value="To Admin"/> </p>
    </form>
    <h1> Player Votes:</h1>
    <table>
      <tr>
        <th>ROUND</th> 
        <th>PNAME</th>
        <th>PVOTE</th>
        <th>CVOTE</th>
        <th>MVOTE</th>
      </tr>  
         
      {% for row in rows %}
      <tr>
        <td> {{ row.round }} </td>
        <td> {{ row.pname }} </td>
        <td> {{ row.pvote }} </td>
        <td> {{ row.cvote }} </td>
        <td> {{ row.mvote }} </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>