<!DOCTYPE html>
<html>
    <head>
        <title> Saboteur Rock </title>
    </head>
    <body>
        <h1>Please Insert Your Name & Role</h1>
        <form action="/" method="POST">
            <p>Name: <input type="text" id="pname" name="pname"> </p>
            <p>Role: <input type="text" id="prole" name="prole"> </p>
            <input type="submit" name="action" value="Add Player">
        </form>

        <h1>Cast Vote</h1>
        <form action="/" method="POST">
            <input type="submit" name="action" value="To Vote"/>
          </form>
    </body>
</html>