<!DOCTYPE HTML>
<html>
  <head>
    <title>Player Roles</title>
  </head>
  <body>
    <form action="/admin" method="POST">
      <p>Admin: <input type="submit" name="action" value="To Admin"/> </p>
    </form>
    <h1> Player Roles:</h1>
    <table>
      <tr>
        <th>PROLE</th>
        <th>PNAME</th>
      </tr>  
         
      {% for row in rows %}
      <tr>
        <td> {{ row.prole }} </td>
        <td> {{ row.pname }} </td>
      </tr>
      {% endfor %}

    </table>
  </body>
</html>